.MultiFile-title{
	display:none;
}
.MultiFile-remove{
	color:red !important;
}
#empty_image{
	display:none;
}
.logo h4{
    background-size: auto 100%;
}
.user-list table th,.user-list table td  {
	color:black
}

#sidebar {
	width:170px !important;
	text-align:center;
}